

<PageTitle>Home</PageTitle>

<!DOCTYPE html>
<html lang="es">
<head>
    <link href="css/Dashboard/dashboard.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard EquipGo</title>
</head>
<body>
    
</body>
</html>

