@page "/"

<h3>Bienvenido a la app</h3>
<p>Redireccionando a login...</p>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Navigation.NavigateTo("/login");
        }
    }
}